.Footer{
    display: flex;
    justify-content:space-between;
    align-items:center;
    width:90%;
    margin:0 auto;
    max-width: 900px;
    text-transform: uppercase;
    font-weight: 600;
    font-size:12px;
}

.Navigation__List{
    display: flex;
}

.Navigation__Item{
    margin-right: 15px;
    color:#003569;
}

.Footer__Copyright{
    color:#999;
}