.Image-Detail{
    display: flex; /* 세로로 늘어진 오브젝트들을 가로로 */
    margin:60px auto; /* 상하단의 마진을 주고 양옆은 오토*/
    width:90%; 
    max-width: 900px;
}

.Image-Detail__Column-Left{
    width: 75%;
    height: 100%;
}

.Image-Detail__Photo-Container{
    height: 100%;
}

.Image-Detail__Photo{
    min-height: 100%;
    width: 100%;
}

.Image-Detail__Column-Right{
    padding:0px 20px; /* 좌우 20픽셀 여백 */
}
  
.Image-Detail__Header{
    padding: 15px 0;
    display: flex;
    align-items:center;
    border-bottom: 1px solid #e6e6e6;
}

.Image-Detail__Avatar-Container{
    width:40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.Image-Detail__Avatar{
    max-width: 100%;
}

.Image-Detail__Username{
    display: block;
    margin-bottom: 3px;
}

.Image-Detail__Comments{
    padding-top: 10px;
    height: 320px;
    width: 312px;
    overflow: auto;
}

.Image-Detail__Comment{
    margin-bottom: 10px;
}

.Image-Detail__Comment-Author{
    font-weight: 600;
}

.Image-Detail__Actions{
    display: flex;
    padding-top: 10px;
    margin-bottom: 10px;
}

.Image-Detail__Action:first-child{
    margin-right:10px;
}

.Image-Detail__Like-Count{
    display: block; /*블록을 지정해야만 마진이나 패딩을 활용할 수 있다.*/
    margin-bottom: 10px;
}

.Image-Detail__Date{
    font-size: 10px;
    color:#999;
    margin-bottom: 10px;
    display: block;
}

.Image-Detail__Add-Comment{
    border-top: 1px solid #e6e6e6;
    padding-top: 15px;
    display: flex;
    align-items:center;
}

