@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 414px) {
    .Navigation{
        justify-content:center;
        height: 50px;
        position: fixed;
        width: 100%;
        z-index:999;
        padding:0;
    }
    .Navigation__Column--Search,
    .Navigation__Column--Icons{
        display: none;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 739px) {
    .Feed{
        padding: 0;
    }
    .u-content-box{
        width: 100%;
        max-width: none;
        border:0;
    }
    .Footer{
        display: none;
    }
  }
