@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import 'reset.css';
@import 'globals.css';
@import 'login.css';
@import 'feed.css';
@import 'explore.css';
@import 'image-detail.css';
@import 'profile.css';
@import 'navigation.css';
@import 'footer.css';